<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="part2">

<header>
    <h1>Improve the frontend of this app</h1>
    <p>October 3, 2020 (8 hours ago)</p>
</header>
<div class="first-container">
    <div class="item">
        enhancement
    </div>
    <div class="item">
        good first issue
    </div>
    <div class="item">
        hacktoberfest
    </div>

</div>
<div class="second-container">
    <ul>
       <li> <i class="fa fa-git fa-2x" aria-hidden="true"></i> <div>brute-force</div></li>
       <li><i class="fa fa-user-o fa-2x" aria-hidden="true"></i> shoumikdey</li>
       <li><i class="fas fa-hand-holding fa-2x" aria-hidden="true"></i> 0 assignee</li>
    </ul>
    <div class="third">
        <div>Python</div>
        <div>HTML</div>
    </div>
    <div class="butt">
    <button class="btn" style="font-weight: 30px;">Go to issue</button>
</div>
</div>
</div>
<div class="part2">
<header>
    <h1>Write tests for bot-detector</h1>
    <p>October 3, 2020 (8 hours ago)</p>
</header>
<div class="fourth-container">
    <div class="item">
        easy
    </div>
    <div class="item">
        good first issue
    </div>
    <div class="item">
        hacktoberfest
    </div>
    <div class="item">
        tests
    </div>

</div>
<div class="fifth-container">
    <ul>
       <li> <i class="fa fa-git fa-2x" aria-hidden="true"></i><div> tinyhttp</div></li>
       <li><i class="fa fa-user-o fa-2x" aria-hidden="true"></i> talentslessguy</li>
       <li><i class="fas fa-hand-holding fa-2x" aria-hidden="true"></i> 0 assignee</li>
    </ul>
    <div class="sixth">
        <div>Typescript</div>
        <div>JavaScript</div>
        <div>HTML</div>
        <div>CSS</div>
        <div>Shell</div>
    </div>
    <div class="butt">
    <button class="btn">Go to issue</button>
</div>
</div>
</div>
</body>
</html>